<!-- /* from https://blog.logrocket.com/how-to-use-ejs-template-node-js-application/ */ -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recordings</title>
</head>
<style>
  .recordingsList {
    margin: 30px;
  }
</style>

<body>
  <h1>Incorrigibles Recordings</h1>
  <div class="recordingsList">
      <hr />
    </div>
  </div>
</body>

</html>
