@font-face {
    font-family: 'Flama-Basic';
    src: url('fonts/Flama-Basic.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Flama-Bold';
    src: url('fonts/Flama-Bold.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Flama-Light';
    src: url('fonts/Flama-Light.otf');
    font-weight: normal;
}

head {
    height: 100px;
    letter-spacing: 0.25px;
}

.sticky {
    position: sticky;
}

body {
    width: 768px;
    height: 2100px;
    font-family: 'Flama-Basic', sans-serif;
    letter-spacing: 0.48px;
    line-height: 28px;
    font-size: 14px;
    margin: 0px;
    /* margin-bottom: 40px; */
    /* margin-right: 69px; */
}

footer {
    margin-bottom: 40px;
    width: 90%;
}

#submissionForm {
    display: block;
}

#thanksReset {
    display: none;
    padding-top: 320px;
    font-size: 24px;
    background-color: #F5F5F5;
    padding-bottom: 368px;

}

p {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

span {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

input[type=text] {
    width: 629px;
    /* margin-right: 69px; */
    padding-left: 20px;
    height: 50px;
    border: 0px;
    background-color: #F5F5F5;
    font-family: 'Flama-Light', sans-serif;
    font-size: 18px;
}

/*
A custom CSS checkbox with an inner shadow of 1px at 1px
from the border with a 5pt blur.
from https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
*/
.checks {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Flama-Basic', sans-serif;
    letter-spacing: 0.48px;
    line-height: 28px;
    font-size: 14px;
}

/* First, hide the native checkbox - from https: //moderncss.dev/pure-css-custom-checkbox-style/ */
.checks input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
    height: 25px;
    box-shadow: inset 1px 1px 5px #30303080;
    background-color: #F5F5F5;
    transition: all 300ms ease-in-out;
}

/* When the checkbox is checked, add a blue background */
.checks input:checked ~ .checkmark {
    background-color: #ffffffcd;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checks input:checked ~ .checkmark:after {
    display: block;
}

.checks .checkmark:after {
    content: '\2714';
    font-size: 18px;
    padding-left: 5px;
}

/*
input[type=checkbox] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    content: '\2714';
    display: inline-block;
}
*/

/* from https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */

.radios {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio {
    position: absolute;
    /* margin-right: 20px; */
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px #30303080;
    background-color: #F5F5F5;
    transition: all 100ms ease-in-out;
}

.radios input:checked ~ .radio {
    color: #ffffff;
    background-color: #3F403F;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}

.radios input:checked ~ .radio:after {
    display: block;
}

.radios .radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}

a {
    color: #DC6C26;
    text-decoration: none;
}

.heading {
    width: 100%;
    height: 62px;
    font-size: 24px;
    font-family: 'Flama-Bold', sans-serif;
    background-color: #ffffff;
    padding-top: 38px;
    padding-left: 70px;
}

#title {
    /* position: fixed; */
    /* padding-left: 70px; */
    /* padding-top: 38px; */
    color: #DC6C26;
}

#logo {
    width: 249.1px;
    height: 25px;
    padding-left: 75px;
}

#email {
    width: 290px;
    float: left;
    margin-bottom: 40px;
}

#phone {
    width: 290px;
    float: right;
    margin-right: 49px;
    margin-bottom: 40px;
}



.question {
    font-size: 24px;
    margin-bottom: 10px;
}

.alignTop {
    vertical-align: bottom;
}

.largeText {
    font-size: 24px;
    margin-bottom: 10px;
}

.mediumText {
    font-size: 18px;
}

.regularText {
    font-size: 14px;
}

.section {
    padding-left: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.note {
    font-size: 24px;
    line-height: 30px;
    background-color: #F5F5F5;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.welcome {
    width: 100%;
}

button {
    width: 629px;
    height: 50px;
    border: 0px;
    font-family: 'Flama-Bold', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0px;
}

button:enabled {
    background-color: #DC6C26;
    color: #ffffff;
}

button:disabled {
    background-color: #303030;
    color: #ffffff;
    pointer-events: none;
}

button:active {
    box-shadow: inset 1px 0px 3px rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

button::-moz-focus-inner {
    border: 0;
}

.half-buttons {
    display: inline;
    text-align: center;
    padding: 0px;
}

.half-buttons button {
    width: 310px;
}

#submitButton, #uploadingButton {
    height: 100px;
    font-size: 21px;
}

/* Loading button from https://www.w3schools.com/howto/howto_css_loading_buttons.asp */
#uploadingButton {
  display: none;
}

/* MODAL - from https: //www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 580px;
    width: 100%;  /* Full width */
    height: 100%;  /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(189, 189, 189); /* Fallback color */
    background-color: #f5f5f5a2;  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal div {
    background-color: #F5F5F5;
    margin: 70px;  /* 15% from the top and centered */
    padding: 46px;
    /* border: 1px solid #888; */
    width: 629px;  /* Could be more or less, depending on screen size */
}



#waitingToUpload {
    display: none;
}

#uploadUnsuccessful {
    display: block;
}
